@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(23, 24, 30);
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  border: gray;
}

/* INPUT */
input {
  background: inherit;
  border: 3px solid #30303d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 0.6rem;
  max-width: 100%;
}

input:focus {
  border: 3px solid #8b5cf6;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #17181e inset !important;
  -webkit-text-fill-color: white !important;
}
input:autofill {
  background-color: inherit !important;
}
input:-webkit-autofill {
  background-color: inherit !important;
  color: white !important;
}

input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #17181e inset !important;
  -webkit-text-fill-color: white !important;
}

input:focus:autofill,
input:focus:-webkit-autofill {
  background-color: #17181e !important;
  color: white !important;
}

/* SCROLL */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgb(61, 7, 52);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e0420;
  cursor: pointer;
}

/* DATA-GRID MUI */

.MuiDataGrid-root {
  border: 2px solid rgb(139, 92, 246) !important;
}
.MuiDataGrid-columnHeader,
.MuiDataGrid-filler,
.MuiDataGrid-scrollbarFiller--header {
  background-color: rgb(139, 92, 246);
  color: white;
}

.MuiTablePagination-input,
.MuiTablePagination-selectLabel {
  display: none !important;
}

.MuiDataGrid-virtualScrollerRenderZone {
  border: none !important;
}
.css-1oudwrl::after {
  display: none !important;
}

#container-users{
  -webkit-overflow-scrolling: touch;
}
.MuiDataGrid-columnHeader + .MuiDataGrid-filler{
  background-color: rgb(139, 92, 246)!important;
}